<div class="wrap">
  <div id="first-block">
    <div class="cover">
      <h2>{{typeOfHouse | italic }}</h2>
    </div>
    <img src="{{type?.pics}}">
  </div>
  <div id="second-block">
    <h3>{{type?.info}}</h3>
  </div>
  <div id="third-block">
    <div class="first">
      <p>{{type?.facilities1}}</p>
    </div>
    <div class="second">
      <p>{{type?.facilities2}}</p>
    </div>
    <div class="third">
      <p>{{type?.facilities3}}</p>
    </div>
  </div>
  <div id="forth-block">
    <div class="left" routerLink="form" (click)="book(type?.plan1)">
      <h2>{{type?.plan1}}</h2>
      <h4>{{type?.price1 | currency: 'USD': 'symbol'}} per night</h4>
    </div>
    <div class="right" (click)="book(type?.plan2)">
      <h2>{{type?.plan2}}</h2>
      <h4>{{type?.price2 | currency: 'USD': 'symbol'}} per night</h4>
    </div>
    <div class="middle" (click)="book(type?.plan3)">
      <h2>{{type?.plan3}}</h2>
      <h4>{{type?.price3 | currency: 'USD': 'symbol'}} per night</h4>
    </div>
  </div>
</div>
