<div class="wrap">
  <div id="first-block">
    <div class="cover">
      <h2>{{type?.briefInfo}}</h2>
    </div>
    <img src="{{type?.pics}}">
  </div>
  <div id="second-block">
    <h3>{{type?.info}}</h3>
  </div>
  <div id="third-block">
    <div class="first">
      <p>{{type?.facilities1}}</p>
    </div>
    <div class="second">
      <p>{{type?.facilities2}}</p>
    </div>
    <div class="third">
      <p>{{type?.facilities3}}</p>
    </div>
  </div>
  <div id="forth-block">
    <div class="left">
      <h2>{{type?.plan1}}</h2>
      <h4>{{type?.price1}} per night</h4>
    </div>
    <div class="right">
      <h2>{{type?.plan2}}</h2>
      <h4>{{type?.price2}} per night</h4>
    </div>
    <div class="middle">
      <h2>{{type?.plan2}}</h2>
      <h4>{{type?.price2}} per night</h4>
    </div>
  </div>
</div>
