<div class="wrap">
  <div id="first-block">
    <img src="../assets/pics/1.jpg">
  </div>
  <div id="second-block">
    <h2>A self-service concept</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis, itaque.</p>
  </div>
  <div id="third-block">
    <div class="left">
      <h2>Carefully considered ameneties</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam saepe qui nihil consequuntur.</p>
    </div>
    <div class="middle">
      <img src="../assets/pics/2.jpg">
    </div>
  </div>
  <div id="forth-block">
    <div class="left">
      <h2> Vip Loft</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="right">
      <h2> Vip Shelter</h2>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </div>
    <div class="middle">
      <h2> Vip Chimney</h2>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </div>
  </div>
</div>
